@model IEnumerable<IntegratedProject3.Models.DocumentViewModel>

@{
    ViewBag.Title = "Documents";
}

<h2>Documents</h2>

    @if (ViewBag.isAuthor != null)
    {
        if (ViewBag.isAuthor)
        { 
            <p>
              @Html.ActionLink("Create New Document", "Create", "Documents", null, new { @class = "btn  btn-primary btn-lg" })
            </p>    
        }
    }

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.DocumentTitle)</th>
        <th>@Html.DisplayNameFor(model => model.RevisionNum)</th>
        <th>@Html.DisplayNameFor(model => model.DocCreationDate)</th>
        <th>@Html.DisplayNameFor(model => model.ActivationDate)</th>
        <th>@Html.DisplayNameFor(model => model.Author.UserName)</th>
        <th>Actions</th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RevisionNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocCreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.UserName)
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
